@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
:root{
  /* colors */
  --blue: #404CCF;
  --white: #ffffff;
  --text-blue: #0D135A;
  --green: #22D566;
  --black: #323232;
  --red: rgba(235, 87, 87, 1);

  /* weights */
  --semi-bold: 500;
  --bold: 700;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.blue-bg{
  background-color: var(--blue);
}
.bold{
  font-weight: var(--bold);
}
.bgwhite{
  background: var(--white);
}
.green-bg{
  background: var(--green);
}
.textblue{
  color: var(--blue);
}
.screen-width{
  max-width: 700px;
  margin: 0 auto;
}

.gradient{
  background: linear-gradient(179.92deg, #404CCF 0.07%, #0BB4EF 95.86%);
}